.detail > * {
	float: left;
}

.detail > .movie__data {
	width: 70%;
	padding: 5px;
	color: gray;
	font-size: 1.6rem;
}

.detail .movie__data > * {
	margin-bottom: 5px;
}

.detail .movie__title {
	font-size: 3rem;
	font-weight: 100;
	color: black;
}


.detail .genres {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.detail .genres__genre {
	margin-right: 10px;
}

.detail .movie__summary{
  font-size: 1.4rem;
}